body{
    background-color: rgb(30,30,30);
}

h1{
    text-align: center;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 50px;
    color: white;
}

#sound{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;

}

#defaultCanvas0 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
    color: white;
}
#AIbutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px rgb(255, 255, 255);
  }
  
  #AIbutton:hover {background-color: #3e8e41}
  
  #AIbutton:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

  #bund{
    font-size: 15px;
    color: grey;
    text-align: center;
  }

  a{
      color: grey;
  }


  .top {grid-area: q;}
  .audio {grid-area: w;}
  .button{grid-area: e}
  .intro{grid-area: r}
  .buttom{grid-area: a}
  /* .p5Canvas{grid-area: t}
  #defaultCanvas0{grid-area: t}
  .video{grid-area: t} */

  .grid-container {
    display: grid;
    /* grid-template-columns: 300px 100px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px; */
    grid-template-areas:
      'q q'
      'e w'
      't t'
      'r r'
      'a a';
 
  }